[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

pylint = "*"
"autopep8" = "*"
pytest = "*"


[packages]

SQLAlchemy = "*"
"psycopg2" = "*"
Flask-SQLAlchemy = "*"
Flask = "*"


[requires]

python_version = "3.6"
