.featurette-card {
    max-width: 75%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.featurette-body {
    padding-top: 20px;
}

span i {
    position: relative;
    top: 2px;
    font-size: 17px !important
}
